:root {
  --color-black: #000000;
  --color-main: #0078FF;
  --color-state-exclusive: #18A286;
  --color-777: #777777;
  --color-aaa: #aaaaaa;
  --color-ccc: #cccccc;
  --color-eee: #eeeeee;
  --color-f1f1f1: #f1f1f1;
  --color-f9f9f9: #f9f9f9;
  --color-red: #ff0000;
  --color-white: #ffffff;
}

